---
http_interactions:
- request:
    method: get
    uri: https://min-api.cryptocompare.com/data/histohour?fsym=BTC&tsym=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Cryptocompare-Cache-Hit:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"Response":"Success","Type":100,"Aggregated":false,"Data":[{"time":1501876800,"close":2858.86,"high":2859.15,"low":2849.17,"open":2849.17,"volumefrom":2708.16,"volumeto":7717109.67},{"time":1501880400,"close":2861.83,"high":2863.63,"low":2851.11,"open":2858.86,"volumefrom":2703.92,"volumeto":7716840.81},{"time":1501884000,"close":2881.66,"high":2881.66,"low":2861.14,"open":2861.83,"volumefrom":1774.41,"volumeto":5103872.82},{"time":1501887600,"close":2878.49,"high":2891.23,"low":2871.53,"open":2881.66,"volumefrom":2827.18,"volumeto":8111440.51},{"time":1501891200,"close":2884.26,"high":2887.57,"low":2875.91,"open":2878.49,"volumefrom":2321.1,"volumeto":6667304.2[...]
