---
http_interactions:
- request:
    method: get
    uri: https://min-api.cryptocompare.com/data/histoday?fsym=BTC&tsym=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Cryptocompare-Cache-Hit:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"Response":"Success","Type":100,"Aggregated":false,"Data":[{"time":1499817600,"close":2403.09,"high":2424.82,"low":2262.08,"open":2324.29,"volumefrom":109522.9,"volumeto":257095280.13},{"time":1499904000,"close":2362.44,"high":2436.66,"low":2334.96,"open":2403.09,"volumefrom":88166.37,"volumeto":208630220.69},{"time":1499990400,"close":2234.17,"high":2370.53,"low":2165.36,"open":2362.44,"volumefrom":114411.35,"volumeto":257704533.44},{"time":1500076800,"close":1975.08,"high":2237.13,"low":1974.03,"open":2234.17,"volumefrom":155317.39,"volumeto":320719096.8},{"time":1500163200,"close":1914.09,"high":2044.41,"low":1808.99,"open":1975.08,"volumefrom":189643.47,"volu[...]
