---
http_interactions:
- request:
    method: get
    uri: https://min-api.cryptocompare.com/data/top/exchanges/full?fsym=BTC&tsym=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Cryptocompare-Cache-Hit:
      - 'false'
      X-Cryptocompare-Server-Id:
      - ccc-api10
    body:
      encoding: ASCII-8BIT
      string: '{"Response":"Success","Message":"Total available exchanges - 107","Data":{"CoinInfo":{"Id":"1182","Name":"BTC","FullName":"Bitcoin","Internal":"BTC","ImageUrl":"/media/37746251/btc.png","Url":"/coins/btc/overview","Algorithm":"SHA-256","ProofType":"PoW","TotalCoinsMined":18873906,"BlockNumber":710596,"NetHashesPerSecond":156819203103601950000,"BlockReward":6.25,"BlockTime":613,"AssetLaunchDate":"2009-01-03","MaxSupply":20999999.9769,"MktCapPenalty":0,"TotalVolume24H":170175.79514399442,"TotalTopTierVolume24H":169877.97014353707},"AggregatedData":{"TYPE":"5","MARKET":"CCCAGG","FROMSYMBOL":"BTC","TOSYMBOL":"USD","FLAGS":"2052","PRICE":59551.41,"LASTUPDATE":1637434730,"MEDIAN":59545.19,"LASTVOLUME":0.00187562,"LASTVOLUMETO":111.656877753,"LASTTRADEID":"239243507","VOLUMEDAY":13562.343771139622,"VOLUMEDAYTO":793703094.5484575,"VOLUME24HOUR":18549.353084009996,"VOLUME24HOURTO":1082621772.489657,"OPENDAY":58134.63,"HIGHDAY":59689.41,"LOWDAY":57450.63,"OPEN24HOUR":57950.03,"HIGH24HOUR":59702.33,"LOW24HOUR":57441.95,"LASTMARKET":"Coinbase","VOLUMEHOUR":2253.58753878035,"VOLUMEHOURTO":133284873.49065475,"OPENHOUR":57986.13,"HIGHHOUR":59689.41,"LOWHOUR":57912.83,"TOPTIERVOLUME24HOUR":18549.351958009996,"TOPTIERVOLUME24HOURTO":1082621704.7560575,"CHANGE24HOUR":1601.3800000000047,"CHANGEPCT24HOUR":2.7633807954888114,"CHANGEDAY":1416.780000000006,"CHANGEPCTDAY":2.4370672007373337,"CHANGEHOUR":1565.280000000006,"CHANGEPCTHOUR":2.6994041506132693,"CONVERSIONTYPE":"direct","CONVERSIONSYMBOL":"","SUPPLY":18873906,"MKTCAP":1123967714507.46,"MKTCAPPENALTY":0,"CIRCULATINGSUPPLY":18873906,"CIRCULATINGSUPPLYMKTCAP":1123967714507.46,"TOTALVOLUME24H":170175.79514399442,"TOTALVOLUME24HTO":10112190190.445034,"TOTALTOPTIERVOLUME24H":169877.97014353707,"TOTALTOPTIERVOLUME24HTO":10094454291.055838,"IMAGEURL":"/media/37746251/btc.png"},"Exchanges":[{"TYPE":"2","MARKET":"Coinbase","FROMSYMBOL":"BTC","TOSYMBOL":"USD","FLAGS":"2","PRICE":59533.15,"LASTUPDATE":1637434739,"LASTVOLUME":0.00080234,"LASTVOLUMETO":47.765827571,"LASTTRADEID":"239243556","VOLUMEDAY":6180.14785253,"VOLUMEDAYTO":361280012.013161,"VOLUME24HOUR":8955.33807032,"VOLUME24HOURTO":522032246.900335,"OPENDAY":58122.16,"HIGHDAY":59686.86,"LOWDAY":57423.35,"OPEN24HOUR":57958.8,"HIGH24HOUR":59686.86,"LOW24HOUR":57423.35,"VOLUMEHOUR":735.71809079,"VOLUMEHOURTO":43450987.0318903,"O[...]
