---
http_interactions:
- request:
    method: get
    uri: https://min-api.cryptocompare.com/data/histominute?aggregate=1&fsym=BTC&tsym=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Cryptocompare-Cache-Hit:
      - 'false'
    body:
      encoding: UTF-8
      string: '{"Response":"Success","Type":100,"Aggregated":false,"Data":[{"time":1502428920,"close":3450.67,"high":3450.7,"low":3449.84,"open":3450.57,"volumefrom":36.29,"volumeto":124971.62},{"time":1502428980,"close":3451.24,"high":3451.24,"low":3450.66,"open":3450.67,"volumefrom":16.71,"volumeto":57730.25},{"time":1502429040,"close":3450.71,"high":3452.09,"low":3450.57,"open":3451.24,"volumefrom":31.31,"volumeto":107906.26},{"time":1502429100,"close":3450.69,"high":3451.67,"low":3450.41,"open":3450.71,"volumefrom":11.8,"volumeto":40720.6},{"time":1502429160,"close":3450.39,"high":3451.65,"low":3449.71,"open":3450.69,"volumefrom":29.88,"volumeto":102932.15},{"time":15024[...]
