---
http_interactions:
- request:
    method: get
    uri: https://min-api.cryptocompare.com/data/histoday?aggregate=2&fsym=BTC&tsym=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Cryptocompare-Cache-Hit:
      - 'false'
    body:
      encoding: UTF-8
      string: '{"Response":"Success","Type":100,"Aggregated":true,"Data":[{"time":1497312000,"close":2467.27,"high":2803.72,"low":2348.99,"open":2656.77,"volumefrom":290927.32,"volumeto":762770556.1400001},{"time":1497484800,"close":2508.58,"high":2536.42,"low":2125.56,"open":2467.27,"volumefrom":379993.76,"volumeto":892895123.5899999},{"time":1497657600,"close":2539.56,"high":2690.71,"low":2454.81,"open":2508.58,"volumefrom":187952.51,"volumeto":481937888.23},{"time":1497830400,"close":2754.38,"high":2800.48,"low":2518.78,"open":2539.56,"volumefrom":193132.77000000002,"volumeto":510406761.42999995},{"time":1498003200,"close":2722.84,"high":2804.41,"low":2623.17,"open":2754.38,"[...]
