---
http_interactions:
- request:
    method: get
    uri: https://min-api.cryptocompare.com/data/histoday?fsym=BTC&limit=10&tsym=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Cryptocompare-Cache-Hit:
      - 'false'
    body:
      encoding: UTF-8
      string: '{"Response":"Success","Type":100,"Aggregated":false,"Data":[{"time":1501718400,"close":2809.99,"high":2822.88,"low":2717.62,"open":2720.53,"volumefrom":68102.9,"volumeto":188517085.91},{"time":1501804800,"close":2878.49,"high":2892.67,"low":2779.51,"open":2809.99,"volumefrom":68760.4,"volumeto":195800289.46},{"time":1501891200,"close":3262.8,"high":3344.01,"low":2875.91,"open":2878.49,"volumefrom":159402.96,"volumeto":503737620.4},{"time":1501977600,"close":3232.03,"high":3295.07,"low":3166.52,"open":3262.8,"volumefrom":60660.39,"volumeto":196484496.53},{"time":1502064000,"close":3401.91,"high":3425.13,"low":3198.51,"open":3232.03,"volumefrom":88111.88,"volumeto":294021645.24},{"time":1502150400,"close":3429.38,"high":3494.87,"low":3357.15,"open":3401.91,"volumefrom":106940.67,"volumeto":366169429.25},{"time":1502236800,"close":3348.79,"high":3437.15,"low":3251.03,"open":3429.38,"volumefrom":97062.76,"volumeto":324058681.71},{"time":1502323200,"close":3425.67,"high":3453.84,"low":3322.92,"open":3348.79,"volumefrom":71000.32,"volumeto":242024460.29},{"time":1502409600,"close":3654.37,"high":3706.48,"low":3409.79,"open":3425.67,"volumefrom":97564.43,"volumeto":345135492.36},{"time":1502496000,"close":3871.62,"high":3967.26,"low":3611.36,"open":3654.37,"volumefrom":123593.57,"volumeto":469532325.43},{"time":1502582400,"close":3937.77,"high":3915.57,"low":3871.62,"open":3871.62,"volumefrom":2611.87,"volumeto":10181548.77}],"TimeTo":1502582400,"TimeFrom":1501718400,"FirstValueInArray":true,"ConversionType":{"type":"direct","conversionSymbol":""}}'
  recorded_at: Sun, 13 Aug 2017 01:01:58 GMT
recorded_with: VCR 3.0.3
