---
http_interactions:
- request:
    method: get
    uri: https://min-api.cryptocompare.com/data/histominute?aggregate=2&fsym=BTC&tsym=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Cryptocompare-Cache-Hit:
      - 'false'
    body:
      encoding: UTF-8
      string: '{"Response":"Success","Type":100,"Aggregated":true,"Data":[{"time":1502395320,"close":3418.4,"high":3422.76,"low":3417.49,"open":3421.96,"volumefrom":88.21,"volumeto":301275.09},{"time":1502395440,"close":3415.93,"high":3419.7,"low":3415.74,"open":3418.4,"volumefrom":226.68,"volumeto":772703.04},{"time":1502395560,"close":3407.53,"high":3415.93,"low":3406.48,"open":3415.93,"volumefrom":126.34,"volumeto":429982.85},{"time":1502395680,"close":3401.91,"high":3407.53,"low":3399.33,"open":3407.53,"volumefrom":478.99,"volumeto":1621826.34},{"time":1502395800,"close":3403.25,"high":3404.7,"low":3401.76,"open":3401.91,"volumefrom":120.21000000000001,"volumeto":410001[...]
