---
http_interactions:
- request:
    method: get
    uri: https://www.cryptocompare.com/api/data/coinsnapshot/?fsym=BTC&tsym=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Cryptocompare-Vm:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"Response":"Success","Message":"Coin snapshot succesfully returned","Data":{"Algorithm":"SHA256","ProofType":"PoW","BlockNumber":477919,"NetHashesPerSecond":6157802778.035059,"TotalCoinsMined":16473975.0,"BlockReward":12.5,"AggregatedData":{"TYPE":"5","MARKET":"CCCAGG","FROMSYMBOL":"BTC","TOSYMBOL":"USD","FLAGS":"1","PRICE":"2719.77","LASTUPDATE":"1501222825","LASTVOLUME":"0.00503701","LASTVOLUMETO":"13.673331346729999","LASTTRADEID":"1501222825.1298","VOLUME24HOUR":"112089.11517210944","VOLUME24HOURTO":"294778547.78515273","OPEN24HOUR":"2587.37","HIGH24HOUR":"2755.07","LOW24HOUR":"2552.55","LASTMARKET":"Kraken"},"Exchanges":[{"TYPE":"2","MARKET":"Coinbase","FROMSYMBOL":"BTC","TOSYMBOL":"USD","FLAGS":"1","PRICE":"2692.19","LASTUPDATE":"1501222808","LASTVOLUME":"0.19051918","LASTVOLUMETO":"512.9138312042","LASTTRADEID":"18668187","VOLUME24HOUR":"11591.268942619983","VOLUME24HOURTO":"30395398.962465722","OPEN24HOUR":"2561.19","HIGH24HOUR":"2737.28","LOW24HOUR":"2526.82"},{"TYPE":"2","MARKET":"BitBay","FROMSYMBOL":"BTC","TOSYMBOL":"USD","FLAGS":"1","PRICE":"2747.5","LASTUPDATE":"1501221495","LASTVOLUME":"0.0427152","LA[...]
