---
http_interactions:
- request:
    method: get
    uri: https://min-api.cryptocompare.com/data/histohour?aggregate=2&fsym=BTC&tsym=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Cryptocompare-Cache-Hit:
      - 'false'
    body:
      encoding: UTF-8
      string: '{"Response":"Success","Type":100,"Aggregated":true,"Data":[{"time":1501372800,"close":2724.51,"high":2754.89,"low":2707.71,"open":2733.5,"volumefrom":7669.2,"volumeto":20795094.95},{"time":1501380000,"close":2721.66,"high":2731.38,"low":2706.28,"open":2724.51,"volumefrom":3476.87,"volumeto":9405682.71},{"time":1501387200,"close":2661.26,"high":2725.14,"low":2635.69,"open":2721.66,"volumefrom":9946.880000000001,"volumeto":26547939.54},{"time":1501394400,"close":2662.12,"high":2677.85,"low":2621.68,"open":2661.26,"volumefrom":13054.48,"volumeto":34458191.1},{"time":1501401600,"close":2667.96,"high":2688.85,"low":2644.52,"open":2662.12,"volumefrom":5538.09,"volum[...]
