---
http_interactions:
- request:
    method: get
    uri: https://min-api.cryptocompare.com/data/histominute?fsym=BTC&tsym=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Cryptocompare-Cache-Hit:
      - 'false'
    body:
      encoding: UTF-8
      string: '{"Response":"Success","Type":100,"Aggregated":false,"Data":[{"time":1502334840,"close":3341.05,"high":3341.74,"low":3341.05,"open":3341.74,"volumefrom":38.44,"volumeto":128139.94},{"time":1502334900,"close":3340.74,"high":3341.65,"low":3340.69,"open":3341.05,"volumefrom":22.41,"volumeto":74862.73},{"time":1502334960,"close":3339.83,"high":3340.97,"low":3339.78,"open":3340.74,"volumefrom":19.84,"volumeto":66005.52},{"time":1502335020,"close":3339.64,"high":3340.49,"low":3339.35,"open":3339.83,"volumefrom":29.89,"volumeto":99800.26},{"time":1502335080,"close":3339.58,"high":3340.31,"low":3339.38,"open":3339.64,"volumefrom":26.56,"volumeto":88469.97},{"time":15023[...]
