---
http_interactions:
- request:
    method: get
    uri: https://min-api.cryptocompare.com/data/histohour?fsym=BTC&limit=1&tsym=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Cryptocompare-Cache-Hit:
      - 'false'
    body:
      encoding: UTF-8
      string: '{"Response":"Success","Type":100,"Aggregated":false,"Data":[{"time":1502578800,"close":3871.62,"high":3884.39,"low":3826.86,"open":3841.7,"volumefrom":4262.14,"volumeto":16413742.61},{"time":1502582400,"close":3890.7,"high":3880.77,"low":3871.62,"open":3871.62,"volumefrom":295.21,"volumeto":1142122.58}],"TimeTo":1502582400,"TimeFrom":1502578800,"FirstValueInArray":true,"ConversionType":{"type":"direct","conversionSymbol":""}}'
  recorded_at: Sun, 13 Aug 2017 00:16:04 GMT
recorded_with: VCR 3.0.3
