---
http_interactions:
- request:
    method: get
    uri: https://min-api.cryptocompare.com/data/dayAvg?fsym=BTC&tsym=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Cryptocompare-Cache-Hit:
      - 'false'
    body:
      encoding: ASCII-8BIT
      string: '{"USD":4576.46,"ConversionType":{"type":"direct","conversionSymbol":""}}'
  recorded_at: Wed, 30 Aug 2017 23:13:38 GMT
recorded_with: VCR 3.0.3
