---
http_interactions:
- request:
    method: get
    uri: https://min-api.cryptocompare.com/data/top/pairs?fsym=ETH&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Cryptocompare-Cache-Hit:
      - 'false'
    body:
      encoding: UTF-8
      string: '{"Response":"Success","Data":[{"exchange":"CCCAGG","fromSymbol":"ETH","toSymbol":"KRW","volume24h":1132108.482757223,"volume24hTo":286355191868.53656}]}'
  recorded_at: Wed, 02 Aug 2017 05:05:37 GMT
recorded_with: VCR 3.0.3
