---
http_interactions:
- request:
    method: get
    uri: https://www.cryptocompare.com/api/data/coinsnapshot/?fsym=ETH&tsym=BTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Cryptocompare-Vm:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '{"Response":"Success","Message":"Coin snapshot succesfully returned","Data":{"Algorithm":"Ethash","ProofType":"PoW","BlockNumber":4084355,"NetHashesPerSecond":74180399674087.312,"TotalCoinsMined":93608062.3741,"BlockReward":5.0,"AggregatedData":{"TYPE":"5","MARKET":"CCCAGG","FROMSYMBOL":"ETH","TOSYMBOL":"BTC","FLAGS":"4","PRICE":"0.07506","LASTUPDATE":"1501222823","LASTVOLUME":"4.95","LASTVOLUMETO":"0.37285875","LASTTRADEID":"40558755","VOLUME24HOUR":"438758.3568868103","VOLUME24HOURTO":"33901.54285786863","OPEN24HOUR":"0.0786","HIGH24HOUR":"0.07979","LOW24HOUR":"0.07459","LASTMARKET":"Gatecoin"},"Exchanges":[{"TYPE":"2","MARKET":"BitTrex","FROMSYMBOL":"ETH","TOSYMBOL":"BTC","FLAGS":"1","PRICE":"0.075","LASTUPDATE":"1501222795","LASTVOLUME":"0.48813784","LASTVOLUMETO":"0.03661033","LASTTRADEID":"94412957","VOLUME24HOUR":"28989.498805249994","VOLUME24HOURTO":"2247.818538960001","OPEN24HOUR":"0.07889999","HIGH24HOUR":"0.08","LOW24HOUR":"0.07465116"},{"TYPE":"2","MARKET":"Yobit","FROMSYMBOL":"ETH","TOSYMBOL":"BTC","FLAGS":"2","PRICE":"0.07500091","LASTUPDATE":"1501222140","LASTVOLUME":"0.02748908","LAS[...]
