---
http_interactions:
- request:
    method: get
    uri: https://min-api.cryptocompare.com/data/top/exchanges/full?fsym=ETH&tsym=BTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Cryptocompare-Cache-Hit:
      - 'false'
      X-Cryptocompare-Server-Id:
      - ccc-api33
    body:
      encoding: ASCII-8BIT
      string: '{"Response":"Success","Message":"Total available exchanges - 202","Data":{"CoinInfo":{"Id":"7605","Name":"ETH","FullName":"Ethereum","Internal":"ETH","ImageUrl":"/media/37746238/eth.png","Url":"/coins/eth/overview","Algorithm":"Ethash","ProofType":"PoW","TotalCoinsMined":118350847.124,"BlockNumber":13653599,"NetHashesPerSecond":846459714923224,"BlockReward":2.1668352502006427,"BlockTime":13.612039616217888,"AssetLaunchDate":"2015-07-30","MaxSupply":-1,"MktCapPenalty":0,"TotalVolume24H":1517927.4291015873,"TotalTopTierVolume24H":1513558.7472511372},"AggregatedData":{"TYPE":"5","MARKET":"CCCAGG","FROMSYMBOL":"ETH","TOSYMBOL":"BTC","FLAGS":"2052","PRICE":0.07351,"LASTUPDATE":1637434734,"MEDIAN":0.07352,"LASTVOLUME":0.05119566,"LASTVOLUMETO":0.00376272742302,"LASTTRADEID":"896868856","VOLUMEDAY":200416.26396194342,"VOLUMEDAYTO":13297.958408060646,"VOLUME24HOUR":124718.17059013431,"VOLUME24HOURTO":9177.754967728386,"OPENDAY":0.07397,"HIGHDAY":0.07414,"LOWDAY":0.07304,"OPEN24HOUR":0.07367,"HIGH24HOUR":0.0743,"LOW24HOUR":0.07302,"LASTMARKET":"Bitfinex","VOLUMEHOUR":17193.771343916804,"VOLUMEHOURTO":1165.1578736552328,"OPENHOUR":0.0734,"HIGHHOUR":0.07384,"LOWHOUR":0.07335,"TOPTIERVOLUME24HOUR":124716.13694413431,"TOPTIERVOLUME24HOURTO":9177.605327117144,"CHANGE24HOUR":-0.00015999999999999348,"CHANGEPCT24HOUR":-0.2171847427718114,"CHANGEDAY":-0.0004599999999999882,"CHANGEPCTDAY":-0.621873732594279,"CHANGEHOUR":0.00010999999999999899,"CHANGEPCTHOUR":0.14986376021798226},"Exchanges":[{"TYPE":"2","MARKET":"Yobit","FROMSYMBOL":"ETH","TOSYMBOL":"BTC","FLAGS":"2","PRICE":0.0733731,"LASTUPDATE":1637434652,"LASTVOLUME":0.00137189,"LASTVOLUMETO":0.00010065982215899999,"LASTTRADEID":"204945003","VOLUMEDAY":57062.12497306,"VOLUMEDAYTO":4199.79930204264,"VOLUME24HOUR":76460.9462678,"VOLUME24HOURTO":5630.89113804467,"OPENDAY":0.07391987,"HIGHDAY":0.074,"LOWDAY":0.07295058,"OPEN24HOUR":0.07332216,"HIGH24HOUR":0.074,"LOW24HOUR":0.07295058,"VOLUMEHOUR":4380.92081864,"VOLUMEHOURTO":322.37[...]
