---
http_interactions:
- request:
    method: get
    uri: https://min-api.cryptocompare.com/data/top/exchanges/full?fsym=EUR&tsym=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Cryptocompare-Cache-Hit:
      - 'false'
      X-Cryptocompare-Server-Id:
      - ccc-api42
    body:
      encoding: ASCII-8BIT
      string: '{"Response":"Success","Message":"Total available exchanges - 8","Data":{"CoinInfo":{},"AggregatedData":{"TYPE":"5","MARKET":"CCCAGG","FROMSYMBOL":"EUR","TOSYMBOL":"USD","FLAGS":"2052","PRICE":1.126,"LASTUPDATE":1637434733,"MEDIAN":1.127,"LASTVOLUME":88.97781369,"LASTVOLUMETO":100.181899989845,"LASTTRADEID":"1637434733.6728","VOLUMEDAY":14460719.129214901,"VOLUMEDAYTO":16278377.892858429,"VOLUME24HOUR":18055573.198128,"VOLUME24HOURTO":20331332.887924246,"OPENDAY":1.127,"HIGHDAY":1.127,"LOWDAY":1.125,"OPEN24HOUR":1.127,"HIGH24HOUR":1.129,"LOW24HOUR":1.125,"LASTMARKET":"Kraken","VOLUMEHOUR":884987.4061324402,"VOLUMEHOURTO":996787.0033263186,"OPENHOUR":1.126,"HIGHHOUR":1.127,"LOWHOUR":1.126,"TOPTIERVOLUME24HOUR":18055059.580628,"TOPTIERVOLUME24HOURTO":20330754.881683834,"CHANGE24HOUR":-0.001000000000000112,"CHANGEPCT24HOUR":-0.08873114463177569,"CHANGEDAY":-0.001000000000000112,"CHANGEPCTDAY":-0.08873114463177569,"CHANGEHOUR":0,"CHANGEPCTHOUR":0},"Exchanges":[{"TYPE":"2","MARKET":"Kraken","FROMSYMBOL":"EUR","TOSYMBOL":"USD","FLAGS":"1","PRICE":1.12592,"LASTUPDATE":1637434733,"LASTVOLUME":88.97781369,"LASTVOLUMETO":100.181899989845,"LASTTRADEID":"1637434733.6728","VOLUMEDAY":13709581.0605948,"VOLUMEDAYTO":15431644.7519753,"VOLUME24HOUR":16708949.849198,"VOLUME24HOURTO":18812683.7172202,"OPENDAY":1.12649,"HIGHDAY":1.12736,"LOWDAY":1.12457,"OPEN24HOUR":1.12734,"HIGH24HOUR":1.12859,"LOW24HOUR":1.12457,"VOLUMEHOUR":850789.41889244,"VOLUMEHOURTO":958185.1[...]
