---
http_interactions:
- request:
    method: get
    uri: https://www.cryptocompare.com/api/data/coinsnapshot/?fsym=EUR&tsym=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Cryptocompare-Vm:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '{"Response":"Success","Message":"Coin snapshot succesfully returned","Data":{"AggregatedData":{"TYPE":"5","MARKET":"CCCAGG","FROMSYMBOL":"EUR","TOSYMBOL":"USD","FLAGS":"4","PRICE":"1.17","LASTUPDATE":"1501222960","LASTVOLUME":"0.7292","LASTVOLUMETO":"0.85272648","LASTTRADEID":"1501222960","VOLUME24HOUR":"462911.21407223","VOLUME24HOURTO":"537504.4557874231","OPEN24HOUR":"1.16","HIGH24HOUR":"1.17","LOW24HOUR":"1.16","LASTMARKET":"LakeBTC"},"Exchanges":[{"TYPE":"2","MARKET":"Bitstamp","FROMSYMBOL":"EUR","TOSYMBOL":"USD","FLAGS":"4","PRICE":"1.16491","LASTUPDATE":"1501222274","LASTVOLUME":"318.32833","LASTVOLUMETO":"370.8238549003","LASTTRADEID":"17833713","VOLUME24HOUR":"411935.45105","VOLUME24HOURTO":"477900.63379862404","OPEN24HOUR":"1.16002","HIGH24HOUR":"1.16491","LOW24HOUR":"1.155"},{"TYPE":"2","MARKET":"LiveCoin","FROMSYMBOL":"EUR","TOSYMBOL":"USD","FLAGS":"4","PRICE":"1.13562","LASTUPDATE":"1501205000","LASTVOLUME":"23.25","LASTVOLUMETO[...]
