---
http_interactions:
- request:
    method: get
    uri: https://min-api.cryptocompare.com/data/pricemulti?fsyms=BTC,ETH,LTC&tsyms=USD,EUR,CNY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Cryptocompare-Cache-Hit:
      - 'false'
    body:
      encoding: UTF-8
      string: '{"BTC":{"USD":2513.55,"EUR":2204.92,"CNY":17441.13},"ETH":{"USD":236.99,"EUR":207.93,"CNY":1653.72},"LTC":{"USD":48.46,"EUR":42.61,"CNY":336.34}}'
  recorded_at: Mon, 10 Jul 2017 05:03:12 GMT
recorded_with: VCR 3.0.3
