---
http_interactions:
- request:
    method: get
    uri: https://min-api.cryptocompare.com/data/pricemulti?fsyms=USD,EUR&tsyms=BTC,ETH
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Cryptocompare-Cache-Hit:
      - 'false'
    body:
      encoding: UTF-8
      string: '{"USD":{"BTC":0.0004232,"ETH":0.004826},"EUR":{"BTC":0.0004839,"ETH":0.005518}}'
  recorded_at: Tue, 11 Jul 2017 02:14:17 GMT
recorded_with: VCR 3.0.3
