---
http_interactions:
- request:
    method: get
    uri: https://min-api.cryptocompare.com/data/news/providers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Cryptocompare-Cache-Hit:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '[{"key":"cryptocompare","name":"CryptoCompare","lang":"EN","img":"https://images.cryptocompare.com/news/default/cryptocompare.png"},{"key":"coindesk","name":"CoinDesk","lang":"EN","img":"https://images.cryptocompare.com/news/default/coindesk.png"},{"key":"bitcoinmagazine","name":"Bitcoin
        Magazine","lang":"EN","img":"https://images.cryptocompare.com/news/default/bitcoinmagazine.png"},{"key":"yahoofinance","name":"Yahoo
        Finance Bitcoin","lang":"EN","img":"https://images.cryptocompare.com/news/default/yahoofinance.png"},{"key":"ccn","name":"CCN",[...]
