---
http_interactions:
- request:
    method: get
    uri: https://www.cryptocompare.com/api/data/coinsnapshot/?fsym=USD&tsym=ETH
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Cryptocompare-Vm:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"Response":"Success","Message":"Coin snapshot succesfully returned","Data":{"AggregatedData":{"TYPE":"5","MARKET":"CCCAGG","FROMSYMBOL":"USD","TOSYMBOL":"ETH","FLAGS":"4","PRICE":"0.09090909","LASTUPDATE":"1473149435","LASTVOLUME":"0.5547366","LASTVOLUMETO":"0.050430599495694","LASTTRADEID":"1473149435009","VOLUME24HOUR":"0","VOLUME24HOURTO":"0","OPEN24HOUR":"0.09090909","HIGH24HOUR":"0.09090909","LOW24HOUR":"0.09090909","LASTMARKET":"CCEX"},"Exchanges":[{"TYPE":"2","MARKET":"CCEX","FROMSYMBOL":"USD","TOSYMBOL":"ETH","FLAGS":"4","PRICE":"0.09090909","LASTUPDATE":"1473149435","LASTVOLUME":"0.5547366","LASTVOLUMETO":"0.050430599495694","LASTTRADEID":"1473149435009","VOLUME24HOUR":"0","VOLUME24HOURTO":"0","OPEN24HOUR":"0.09090909","HIGH24HOUR":"0.09090909","LOW24HOUR":"0.09090909"},{"TYPE":"2","MARKET":"Cryptopia","FROMSYMBOL":"USD","TOSYMBOL":"ETH","FLAGS":"4","PRICE":"0.000001","LASTUPDATE":"1466231778","LASTVOLUME":"59.74","LASTVOLUMETO":"0.00006","LASTTRADEID":"1466231778.001","VOLUME24HOUR":"0","VOLUME24HOURTO":"0","OPEN24HOUR":"0.000001","HIGH24HOUR":"0.000001","LOW24HOUR":"0.000001"}]},"Type":100}'
  recorded_at: Fri, 28 Jul 2017 06:20:32 GMT
recorded_with: VCR 3.0.3
